:root {
  --primary-color: #4f4aa6;
  --secondary-color: #48ca95;
  --bg-color: #f7f7f7;
  --blanco: #ffffff;
}

/* Importar Tipografias */
@font-face {
  font-family: poppins-regular;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: poppins-extrabold;
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
}
/* FIN Importar Tipografias */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins-regular;
}

header {
  background-image: url("../assets/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 16px;
}

nav ul li a:hover,
.selected {
  color: var(--secondary-color);
}

.content__logo {
  width: 5rem;
}

img {
  width: 100%;
}

.content__menu-mobile {
  width: 36px;
  height: 21px;
  display: none;
}

.content__header {
  display: flex;
  justify-content: center;
  margin: 50px;
  margin-top: 8rem;
}

.header__text {
  max-width: 500px;
  color: var(--blanco);
  display: flex;
  flex-direction: column;
}

.header-content__btn {
  margin-top: 5rem;
}

.btn {
  color: var(--bg-color);
  padding: 15px 60px;
  border: 2px solid var(--bg-color);
  text-decoration: none;
  margin: 0 5px;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--blanco);
}

.header__img {
  width: 500px;
}

.img__banner {
  margin: 5px 25px;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .content__menu-mobile {
    display: flex;
  }

  .menu-screen {
    display: none;
  }

  .header__text {
    max-width: none;
  }

  .header__img {
    width: 680px;
  }

  .img__banner {
    margin: 0px;
  }
}

@media (max-width: 600px) {
  .header-content__btn {
    display: contents;
  }

  p {
    margin-bottom: 30px;
  }

  a.btn {
    margin-bottom: 20px;
  }

  .content__header {
    margin: 25px;
  }

  .header__img {
    width: 336px;
  }

  .img__banner {
    margin: 0px;
  }
}

@media (max-width: 1300px) {
  .content__header {
    flex-direction: column;
  }

  .content__header {
    margin-top: 20px;
  }

  .header-content__btn {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .img__banner {
    margin: 50px 0;
  }
}
