.layout-bar {
  width: 100%;
  height: 2.5rem;
  background-color: $amarillo-color;
}

.content__bar {
  display: inline-flex;
  justify-content: flex-end;
  width: 85%;
}

.content__bar--phone,
.content__bar--mail {
  margin-left: 5rem;
}

.no-webp .header__main {
  background-image: url(../img/header.jpg);
}

.webp .header__main {
  background-image: url(../img/header.webp);
}

.header {
  background-color: $gris-color;
  padding: 1rem 0 3rem 0;

  &.header__main {
    background-position: center center;
    background-size: cover;

    @include tablet {
      min-height: 70rem;
    }

    .header__content {
      @include tablet {
        min-height: 70rem;
      }
    }
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    text-align: left;
    color: $blanco;
    font-weight: $bold;
    line-height: 2;
    max-width: 60rem;
  }
}
