.no-webp body {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/processed/bg.jpg);
}

.webp body {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/processed/bg.webp);
}
body {
  @include tablet {
    opacity: 10;
    background-repeat: no-repeat;
    background-position: center center;

    background-attachment: fixed;
    background-size: cover;

    display: flex;
  }
}
// BACKGROUND 2
.layout__content {
  background-color: $blanco;

  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  height: 90rem;

  @include telefono-mini {
    height: 84.4rem;
    padding: 0;
  }

  @include telefono {
    height: 85.4rem;
    width: 48rem;
  }

  @include tablet {
    width: 100rem;
    height: 102.4rem;
  }

  @include desktop {
    height: 90rem;
    border-radius: 2rem;
  }

  @include desktopXL {
    height: 92.7rem;
  }
}
// LOGO
.content__logo {
  @include telefono-mini {
    width: 17rem;
    margin: 0.6rem auto;
  }

  @include telefono {
    width: 18rem;
    margin: 1rem auto;
  }

  @include tablet {
    width: 20rem;
    margin: 2rem auto;
  }
}
// H1 P
header {
  text-align: center;
  @include tablet {
    padding-top: 2.4rem;
  }
  h1 {
    margin: 0;

    @include telefono-mini {
      font-size: 3rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }

    @include telefono {
      font-size: 3.5rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }
  }

  .text__desktop,
  .text__phone {
    font-weight: 400;
    line-height: 1;
    color: $color-principal;
    margin: 0;
    padding-bottom: 5rem;
    display: inline;
    display: none;

    @include telefono {
    }

    @include tablet {
      display: inline-block;
    }
  }

  .text__phone {
    @include telefono-mini {
      display: inline-block;
    }

    @include tablet {
      display: none;
    }
  }

  span {
    display: block;
  }
}

nav {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
  height: 40rem;
  justify-content: space-between;

  a {
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: rgba(darken($color-principal, 10%), 1);
      color: black;
      transform: scale(1.1);
      transition: 0.4s;
      padding-right: 2.4rem;
      padding-left: 0.8rem;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3),
        0px 2px 4px rgba($color-secundario, 0.3);
    }
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  width: 40rem;
  height: 5rem;
  padding: 0 1.6rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.8rem;

  font-weight: 600;
  line-height: 5rem;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0.8rem;
  cursor: pointer;
  box-sizing: border-box;
  background-color: $color-principal;
  color: $blanco;

  @include telefono-mini {
    width: 35rem;
  }

  @include desktopXL {
    width: 50rem;
  }
}

footer {
  font-size: 1.5rem;
  margin-top: 5rem;

  a {
    cursor: pointer;
    color: $color-principal;
  }
}
