.house__button,
.boton-amarillo {
  @include boton($secundary-color, inline-block);
}

.boton-amarillo-block {
  @include boton($secundary-color, block);
}

.button-vermas {
  @include boton($primary-color, inline-block);
  max-width: 800px;
}

.house__button-vermas {
  display: flex;
  justify-content: flex-end;
}
